.container {
  border: 1px solid black;
  margin: 2rem;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.container div {
  background-color: lightgray;
  margin: .5rem;
  border: 1px solid black;
  /* display: inline-block; */
  /* float: left; */
  width: 200px;
}
