* {
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
  margin: 1rem
}
h2 {
  font-weight: bold;
}

section {
  /* border: 15px solid red; */
  border-width: 15px 1px 50px 10px;
  border-style: solid;
  border-color: red;
  /* border: 3px dashed;*/
  width: min-content;
  /* margin: auto;
  margin-top: 5rem; */
  /*       Top  Right  Bottom Left (clockwise starting at the top */
  margin: 5rem auto auto auto;
}
